In [3]:
# Input the number of years
No_Years = int(input("Enter the number of years: "))

# Initialize variables to store total rainfall and number of months
total_rainfall_entered = 0
total_MonthsOfRainfall = 0

# Outer loop for each year
for Year in range(1, No_Years + 1):
    print(f"\nYear {Year}:")
    
    # Inner loop for each month
    for month in range(1, 13):
        rainfall = float(input(f"Enter the rainfall (in inches) for month {month}: "))
        total_rainfall_entered += rainfall
        total_MonthsOfRainfall += 1

# Calculate the average rainfall per month
average_rainfall = total_rainfall_entered / total_MonthsOfRainfall

# Display the results
print(f"\nTotal number of months: {total_months}")
print(f"Total inches of rainfall: {total_rainfall_entered:.2f}")
print(f"Average rainfall per month over the entire period: {average_rainfall:.2f} inches")

Enter the number of years:  2

Year 1:

Enter the rainfall (in inches) for month 1:  3
Enter the rainfall (in inches) for month 2:  4
Enter the rainfall (in inches) for month 3:  5
Enter the rainfall (in inches) for month 4:  5
Enter the rainfall (in inches) for month 5:  6
Enter the rainfall (in inches) for month 6:  34
Enter the rainfall (in inches) for month 7:  53
Enter the rainfall (in inches) for month 8:  52
Enter the rainfall (in inches) for month 9:  34
Enter the rainfall (in inches) for month 10:  23
Enter the rainfall (in inches) for month 11:  12
Enter the rainfall (in inches) for month 12:  4

Year 2:

Enter the rainfall (in inches) for month 1:  11
Enter the rainfall (in inches) for month 2:  34
Enter the rainfall (in inches) for month 3:  34
Enter the rainfall (in inches) for month 4:  12
Enter the rainfall (in inches) for month 5:  23
Enter the rainfall (in inches) for month 6:  35
Enter the rainfall (in inches) for month 7:  12
Enter the rainfall (in inches) for month 8:  13
Enter the rainfall (in inches) for month 9:  7
Enter the rainfall (in inches) for month 10:  6
Enter the rainfall (in inches) for month 11:  8
Enter the rainfall (in inches) for month 12:  21

Total number of months: 24
Total inches of rainfall: 451.00
Average rainfall per month over the entire period: 18.79 inches

In [11]:
# Ask the user for the number of books purchased this month
books_purchased = int(input("Enter the number of books you have purchased this month: "))

# Determine the number of points awarded based on the number of books purchased
if books_purchased == 0:
    points_awarded = 0
elif books_purchased == 2:
    points_awarded = 5
elif books_purchased == 4:
    points_awarded = 15
elif books_purchased == 6:
    points_awarded = 30
elif books_purchased >= 8:
    points_awarded = 60
else:
    points_awarded = 0  # This handles any cases where the input does not match the specified conditions.

# Display the number of points awarded
print(f"You have earned {points_awarded} points.")

Enter the number of books you have purchased this month:  8

You have earned 60 points.